{% extends 'layout.html' %}
{% block body %}
<style media="screen">
    body {
        padding-top: 3.5rem;
    }

    .row {
        margin-left: 20%;
    }
    .block {
      width: 850px;
      margin: 100px auto;
    }
    .block h1 {
      font-family: monospace;
      text-align: center;
      border-bottom: 3px solid #fff;
      padding-bottom: 10px;
    }
</style>
<div class="block jumbotron">
        <h1 class="display-3">- <i class="fa fa-qrcode" aria-hidden="true"></i>
QrCode reader -</h1>
        <p class="lead" style="margin: 25px 0;">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>
{% endblock %}
